* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.container-flex-col {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.class1 {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.class2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
}

.class3 {
  width: 200px;
  height: 100px;
  background-color: yellow;
}

.square1 {
  width: 100px;
  height: 100px;
  background-color: black;
}

.square2 {
  width: 100px;
  height: 100px;
  background-color: grey;
}

.time1 {
  width: 100px;
  height: 100px;
  background-color: orangered;
}

.time2 {
  width: 200px;
  height: 100px;
  background-color: orange;
}

.time3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: yellowgreen;
}